RewriteEngine on

RewriteRule ^res/(.*)$          /phiki/res/$1
RewriteRule ^img/(.*)$          /phiki/img/$1
RewriteRule ^(\w*)$             /phiki/index.php?page=$1
RewriteRule ^(\w*)/edit$        /phiki/edit.php?page=$1&edit


