/****************************************************************************/
/* reset de propiedades */

* {margin: 0; padding: 0;}
img, a {border: none;}
a:hover {text-decoration: none;}
*:focus {outline: none;}
em {text-decoration: underline; font-style: normal;}
kbd {border: outset; font-size: 160%; line-height: 3em; padding: 0.3em 0 0.3em 0.5em; font-weight: bold;}

/* propociona altura a divs sin altura con contenido flotado */
/* http://www.positioniseverything.net/easyclearing.html */
.clearfix:after {content: "."; display: block; height: 0; clear: both; visibility: hidden;}
.clearfix {display: inline-block;}
* html .clearfix {height: 1%;}
.clearfix {display: block;}

legend, hr, caption, .skipnav {display: none !important;}
ul {list-style: none;}
table {border-spacing: 0;}

/****************************************************************************/
/* estilo del documento */

body {font: 12px verdana,sans-serif; background: #fff url(/kwik/res/greentrans.png) repeat-x bottom fixed;}

#menubg {position: fixed; width: 100%; top: 0; z-index: 100; height: 34px; background: url(/kwik/res/menu.gif) repeat-x; border-bottom: 1px solid #099c09;}
    #menu {margin: 0 auto; width: 70%; color: #333333;}
        #menu p {float: left;}
        #menu ul {float: right; height: 34px; background: url(/kwik/res/menuspacer.gif) no-repeat 0 0;}
            #menu li {float: left; padding: 10px; background: url(/kwik/res/menuspacer.gif) no-repeat 100% 0;}
                #menu input {border: 1px solid #099c09; background: #d3f6cc; color: #333333;}
                #menu input:focus {background: #fff; color: #000;}
                #menu a {display: block; color: #333333; font-weight: bold; text-decoration: none;}
                #menu a:hover, #menu button:hover {text-decoration: underline;}
                #menu button {float: left; border: none; background: transparent; font: bold 12px verdana,sans-serif; color: #333333;}
#contents {width: 70%; margin: 20px auto 40px; background: #fff; position: relative; padding: 20px; -moz-border-radius: 20px; -webkit-border-radius: 20px;}
    #contents a {color: #099c09;}
    textarea {width: 100%; border: 1px solid #099c09; background: #d3f6cc; color: #333333; margin: 15px 0;}
    textarea:focus {border: 1px solid #fed43d; background: #fff; color: #000;}
        a.filaa {text-indent: -9999px; width: 16px; height: 16px; display: inline-block; background: url(/kwik/res/ico_filaa.gif) no-repeat;}
        a.filad {text-indent: -9999px; width: 16px; height: 16px; display: inline-block; background: url(/kwik/res/ico_filad.gif) no-repeat;}
    table {border-left: 1px solid #099c09; border-top: 1px solid #099c09;}
        th, td {border-right: 1px solid #099c09; border-bottom: 1px solid #099c09;}
    pre {border: 1px dashed #099c09; padding: 10px; color: #333333; margin: 10px 0;}
    #jumpers {float: left; display: block; border: 1px solid #099c09; padding: 10px; margin: 10px 0;}
    ul.list {list-style: disc !important; padding-left: 20px;}
    
h1 {/*text-transform: uppercase; */color: #333333; font-family: verdana,sans-serif; font-size: 26px; float: left;}
h2, h3, h4, h5, h6 {color: #000; font-family: georgia,freeserif,serif; border-bottom: 1px solid #099c09; margin: 15px 0;}
h2 a, h3 a, h4 a, h5 a, h6 a {color: #000 !important;}
