body {
  background: #4c4c4c;
  color: #fff;
  font: 11px verdana;
}

h2 {
  font-family: arial;
}

a:link {
  font-style: italic;
  font-weight: bold;
  text-decoration: none;
  color: #ff9146;
	}
a:visited {
  font-style: italic;
  font-weight: bold;
  text-decoration: none;
	color: #888;
	}
a:hover, a:active {
  font-style: italic;
  font-weight: bold;
	text-decoration: underline;
	color: #ffa553;
	}

em {
  text-decoration: none;
  color: #ffa553;
}

p {
  text-align:justify;
}

